*, 
html {
    margin: 10;
    padding: 10px;
    color: #eee;
    background-color: var(--bg-primary)

}

@import url();
:root {
    --bg-primary: #383838;
    --text-color: #838383;
}

body, input, button, select,{   
    font-family:Consolas
}

.judul {
    text-justify: auto;
    text-align: left;
    color: #eee;
}

.container-navbar {
    width: flex;
    height: flex;
}

.ul-navbar {    
    display: flex;
    height: 50px;
    justify-content :center;
    align-items: center;
}

a {
    text-decoration: none;

}

.li-navbar {
    list-style-type :none;
    padding :15px;
    margin : 5px ;
    color: aliceblue;
    font-size: 20px;
}

.li-navbar:hover {
    background-color: aqua;
    border-radius: 8px ;
}

.a.nav {
    text-decoration: none;
    font-weight: 40px;
}
.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-content {
    width: 500%;
    height: 500%;
    display: flex;
    justify-content :center;
    align-items: center;
    background-color: rgb(99, 99, 99);
}

 .img-content {
    width: 50vh;
    height: 50vh;
 }

 .container-footer {
    height: 10vh;
    background-color: black;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .h1-footer {
    font-size: flex;
 }

.judul-navbar {

}

.ul-navbar-2 {    
    display: flex;
    height: 50px;
    justify-content: left;
    align-items: center;
}

.li-navbar-2 {
    list-style-type :none;
    padding :10px;
    margin : 5px ;
    text-decoration: none;
    font-size: 20px;
}

.li-navbar-2:hover{
    background-color: rgb(97, 97, 97);
    border-radius: 4px ;
}
